<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
         <a class="ancres" routerLink="movies"><h1>MOVIZ</h1></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a class="ancres" routerLink="auth/signup">
          <button class="btn btn-primary">
            Créer compte
          </button>
        </a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a class="ancres" routerLink="auth/signin">
          <button class="btn btn-primary">
            Connexion
          </button>
        </a>
      </li>
      <li routerLinkActive="active"><!---->
        <a style="cursor:pointer" (click)="onSignOut()" *ngIf="isAuth">
          <button class="btn btn-danger">
            Déconnexion
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
